html,body{
    margin: 0;
    padding: 0;
    background-color: #000;
}
.hero{
    background-image: url("Assets/Illustrations/Bathome1.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 120px;
    position: relative
}
.icons-rs {
    position: absolute;
    top: 51%;
    right: 0;
    padding-right: 30px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 70px;
}
.icons-rs img:hover {
    filter: brightness(1.5) saturate(100%) hue-rotate(90deg);
}
.icon-img-rs{
    margin-right: auto;
    padding-top: 15px;
}
.container-hero {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 50px 150px  150px 150px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    display: inline;
    margin-right: 10px; 
}
.menu a{
    color: #ffffff;
    font-weight: bold;

}
.menu li:last-child {
    margin-right: 0;
}
.hero-text{
    text-align: center;
    color: #ffffff;
}
.hero-text p{
    text-align: center;
    margin: auto;
    width: 32rem;
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 150px;
}
.hero-text h3{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 24px;
}
.hero-btn{
    display: flex;
    justify-content: center;
}
.hero-btn button{
    /* padding: 15px 19px;  */
    margin-left: 30px;
    margin-top: 22px;
    width: 248px;
    height: 64px;
    font-size: 18px;
    color: #ffffff;
    background: linear-gradient(90deg, rgba(237, 222, 191, 0.4) 100%, rgba(25, 88, 125, 0.4) 60%);
    border: none;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}
.hero-btn button:hover {
    background: linear-gradient(90deg, rgba(237, 222, 191, 1) 100%, rgba(137, 0, 8, 1) 60%);
}
.hero-btn button:active {
    background: linear-gradient(90deg, rgba(137, 0, 8, 1) 60%, rgba(237, 222, 191, 1) 40%);
    opacity: 0.6;
}
.fleche-down{
    display: flex;
    justify-content: center;
    margin-top: 163px;
    padding: 50px;
}
h1,p{
    color: #fff;
    text-align: justify;
}
.bathome11 img{
    width: 100%;
    object-fit: cover;
}

.batman_au_cinema, .nemesis, .allies, .justice-league{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 150px;
}
.batman_au_cinema, .nemesis, .allies, .justice-league p{
    font-size: 26px;
}
.gallerie{
    display: flex;
    margin: 0 auto;
    padding: 0 0 0 143px;
    margin-top: 90px;
    margin-bottom: 180px;
}
.carte-image{
    flex: 1;
    margin: 0 10px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
    transform-origin: left left;
}
.carte-image img{
    /* width: 100%; */
    padding: 30px;
}
.carte-image:hover {
    transform: scale(1.3);
}
.image-caption {
    text-align: center;
    font-size: 24px;
    color: #fff;
    margin: 0 auto;
}
.nemesis, .allies{
    position: relative;
}
.image-nemesis{
    position: absolute;
    top: -45%;
    left: 30%;
    transform: translateX(-50%);
}
.image13{
    transform: rotate(-10deg);
    width: 200px;
}
.image-allies{
    position: absolute;
    top: -33%;
    left: 80%;
   
}
.image12{
    transform: rotate(-10deg);
    width: 240px;
}
.multimedia{
    /* display: flex;
    align-items: center; 
    max-width: 1140px;
    margin: 0 auto; */
}
.multimedia h1{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 150px;
    margin-bottom: 50px;
}

.bathome_ba1{
    /* flex: 1;  */
    /* padding: 20px; */
    display: flex;
    align-items: center; 
    max-width: 1140px;
    justify-content: center;
}
.carte{
    height: 220px;
    width: 48%;
    background-color: #525659;
    border-bottom-right-radius: 10px;
    padding: 7px;
   justify-content: center;
   
}
.icon_fleche_1{
    margin-right: 150px;
    margin: 0 auto;
}
.icon_fleche_2 {
    margin-left: 150px;
    margin: 0 auto;
}
.bathome_ba2{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

/*Formulaire*/
input[type="email"],input[type="text"],textarea {
    border: none; 
    border-bottom: 1px solid #ccc; 
    outline: none;
    background-color: transparent;
    width: 100%;
}
form {
    margin-top: 30px;
    padding: 20px;
    width: 500px;
}
.personne-contact{
    display: flex;
    justify-content: center;
    background-color: #525659;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 0;
}
.personne-contact h1{
    margin-top: 40px;
}
.select-wrapper {
    position: relative;
    display: inline-block;
}

#frequency {
    padding-right: 30px; 
    border: none; 
    border-bottom: 1px solid #ccc; 
    outline: none;
    background-color: transparent;
    width: 500px;
}

.select-wrapper .fa-chevron-down {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
}
.news-btn{
    display: flex;
    justify-content: center;
}
.news-btn button{
    padding: 8px 12px;
    width: 109px;
    margin-left: 30px;
    background-color: #525659; 
    border: 1px solid #ccc;
}
.news-btn button:hover {
    /* background-color: #ccc;  */
    background: linear-gradient(90deg, rgba(237, 222, 191, 0.4) 60%, rgba(25, 88, 125, 0.4) 100%);
    color: black; 
    cursor: pointer; 
}
input[type="submit"] {
    margin-left: 145px;
    padding: 20px 24px;
    width: 270px;
    margin-top: 20px;
    margin-bottom: 40px;
    background: linear-gradient(90deg, rgba(237, 222, 191, 0.4) 40%,  rgba(137, 0, 8, 1) 100%);
}

.citation{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 59%;
    padding: 70px;
    margin: auto;
    margin-top: 130px;
}

.citation p{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 16px;
    width: 40%;
}
.citation-un{
    line-height: 30px;
}
.citation span{
    font-size: 14px;
    font-weight: lighter;

}
.icon_guillemets_1{
    margin-top: -200px;
    margin-right: 100px;
}
.icon_guillemets_2{
    margin-top: 200px;
    margin-left: 100px;
}
footer{
    margin-top: 150px;
}
.footer-message, .footer-rs{
    display: flex;
    justify-content: center;
}
.footer-message p{
    margin-left: 10px;
   
}
.slideshow {
    position: relative;
    overflow: hidden;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider-nav {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.slider-nav button {
    background-color: transparent;
    border: 2px solid white; /* Bordure blanche */
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    cursor: pointer;
}

.slider-nav button.active {
    background-color: white; /* Fond blanc pour l'icône active */
}

.footer-rs{
    margin-top: 30px;
    margin-bottom: 170px;
}

.footer-img {
    margin-right: 20px; 
    gap: 32px;
}
.footer-img:hover {
    filter: brightness(1.5) saturate(100%) hue-rotate(90deg);
}