html,body{
    margin: 0;
    padding: 0;
    background-color: #000;
}
.hero{
    background-image: url("Assets/Illustrations/Bathome1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.container-hero {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 50px 150px  150px 150px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    display: inline;
    margin-right: 10px; 
}
.menu a{
    color: #ffffff;
    font-weight: bold;

}
.menu li:last-child {
    margin-right: 0;
}
.hero-text{
    text-align: center;
    color: #ffffff;
}
.hero-text p{
    margin: auto;
    width: 23rem;
}
.hero-text h3{
    font-weight: bold;
}
.hero-btn{
    display: flex;
    justify-content: center;
}
.hero-btn button{
    padding: 15px 19px; 
    margin-left: 30px;
    width: 180px;
    color: #ffffff;
    background-color: #eddebf;
    border: none;
    opacity: 0.4;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}
.hero-btn button:hover {
    background-color: #19587d;
    opacity: 1; 
}
.hero-btn button:active {
    background-color: #890008; 
    opacity: 0.6; 
}
.fleche-down{
    display: flex;
    justify-content: center;
    margin-top: 163px;
    padding: 50px;
}
h1,p{
    color: #fff;
}
.bathome11 img{
    width: 100%;
    object-fit: cover;
}

input[type="email"],input[type="text"],textarea {
    border: none; 
    border-bottom: 1px solid #ccc; 
    outline: none;
    background-color: transparent;
    width: 100%;
}
form {
    margin-top: 30px;
    padding: 20px;
    width: 500px;
}
.personne-contact{
    display: flex;
    justify-content: center;
    background-color: #525659;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 0;
}
.personne-contact h1{
    margin-top: 40px;
}
.news-btn{
    display: flex;
    justify-content: center;
}
.news-btn button{
    padding: 8px 12px;
    width: 109px;
    margin-left: 30px;
}
input[type="submit"] {
    margin-left: 145px;
    padding: 10px 14px;
    width: 190px;
    margin-top: 20px;
    
}
footer{
    height: 600px;
    width: 100%;
    background-color: #000;
}
footer p{
    color: #fff;
}

